

.span{
    color: red;
}


.btn-sem_cursor{
    cursor: not-allowed!important;
}

.erro_vazio{
    border-color:red!important;
}


.panel-body{
    border: 1px solid inherit;
    box-shadow:1px;
} 

.s_linha{
    margin-top:1.5em!important;
}

a:hover{
    text-decoration: none;
}
